body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.container {
	width: 80%;
	margin: 0 auto;
}

#header {
  display: flex;
  text-align: center;
  flex-direction: column; 
  padding-top: 30px;
}

#site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#site-content {
  display: flex;
  flex: 1;
}

#landing {
  max-width: 100%
}

#card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#group-card{
  margin: 25px;
  display: flex;
  flex-direction: column;
  border-style:solid;
  border-color: #c0c0c0;
  border-width:1px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-basis: 50%;
  width: 400px;
  height: 400px;
  transition: all ease-in-out 250ms;
}

#group-card:hover{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#group-img {
  max-height: 50%;
  object-fit: none;
}

#group-content {
  padding: 20px;
  align-content: center;
  display: flex;
  flex-direction: column;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #fef9c7;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
